body {
  background-color: #050917;
  padding-bottom: 50px;
}
#heading-main {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
  color: #fff;
  letter-spacing: 5px;
}

.nav-elements {
  margin-bottom: 50px;
}

.nav-link {
  background: #141130;
  font-weight: 500;
  box-shadow: 0 8px 32px 0 rgba(4, 6, 54, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin: 0 10px;
  border-radius: 10px;
  letter-spacing: 2px;
  border: 1px solid #05285c;
}

.nav-link:nth-of-type(1) {
  padding-left: 30px;
  padding-right: 30px;
}

.nav-link:hover {
  background-color: #0d6efd;
  color: #fff;
  box-shadow: 0 0px 10px 0 rgba(16, 30, 216, 0.37);
}

/* Cipher Section */
#playfair-cipher {
  margin: 0 180px;
}

.mb-3 {
  margin-top: 30px;
}

label {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}

#playfairText,
#playfairOutput {
  color: #aee8f3;
  background: rgba(5, 9, 23, 0.5);
  box-shadow: 0 8px 15px 0 rgba(3, 7, 63, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px dotted #033f98;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#playfairText:hover,
#playfairOutput:hover {
  box-shadow: 0 0px 10px 0 rgba(16, 30, 216, 0.37);
  transition: all 1ms;
}

#playfairText::-webkit-input-placeholder,
#playfairOutput::-webkit-input-placeholder {
  color: #fff;
  text-transform: none;
}

#playfairKeyword {
  color: #aee8f3;
  background: rgba(5, 9, 23, 0.5);
  box-shadow: 0 8px 15px 0 rgba(3, 7, 63, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px dotted #033f98;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#playfairKeyword:hover {
  box-shadow: 0 0px 10px 0 rgba(16, 30, 216, 0.37);
  transition: all 1ms;
}

#playfairKeyword::-webkit-input-placeholder,
#playfairOutput::-webkit-input-placeholder {
  color: #fff;
  text-transform: none;
}

#playfairEncryptBtn,
#playfairDecryptBtn {
  padding: 8px 15px;
  margin-right: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
}

/* Solution Steps */
.table-responsive {
  margin-top: 40px;
  margin-bottom: 30px;
}
.table-responsive > p {
  font-weight: 500;
  text-align: center;
  color: #aee8f3;
  font-size: 20px;
}

.table > :not(caption) > * > * {
  background-color: #050917;
  color: #aee8f3;
  box-shadow: 0 8px 15px 0 rgba(3, 7, 63, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #033f98;
}

.solution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;
  border: 1px dotted #033f98;
  border-radius: 10px;
  overflow-wrap: anywhere;
  transition: all ease-in 2ms;
  overflow-wrap: anywhere;
}

.hide {
  display: none;
}

.solution:hover {
  box-shadow: 0 0px 10px 0 rgba(16, 30, 216, 0.37);
}

#playfairMatrix {
  margin-bottom: 25px;
}

#playfairMatrix > * > * > td {
  padding: 10px 15px;
}
#playfairMatrix > :not(caption) > * > * {
  background-color: #050917;
  color: #aee8f3;
  box-shadow: 0 8px 15px 0 rgba(3, 7, 63, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #033f98;
}

.steps-h1 {
  font-weight: 700;
  font-size: 30px;
  color: #0d6efd;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.steps-h2 {
  font-weight: 500;
  font-size: 23px;
  color: #aee8f3;
  letter-spacing: 1px;
}

.stepHeading-3 {
  margin-top: 2px;
}
.stepHeading-4 {
  margin-top: 2px;
}

.playfairMatrixHeading {
  margin-top: 12px;
  color: #0d6efd;
}

.steps {
  font-size: 18px;
  color: #aee8f3;
  letter-spacing: 1px;
}

.result-text {
  font-weight: 500;
  padding-top: 20px;
  font-size: 20px;
}

/* Alert */
.swal2-popup {
  background: #050917;
  border-radius: 15px;
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.swal2-title {
  font-size: 25px;
  color: #aee8f3;
}
.swal2-html-container {
  color: #aee8f3;
}

.swal2-styled.swal2-confirm {
  background-color: #0d6efd;
}
